<a href="https://colab.research.google.com/github/mercurios0603/DJ-IT-FinalTest/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EA%B8%B0%EC%B4%88_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8(%ED%92%80%EC%9D%B4).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
stu = pd.read_excel('/content/students.xlsx')

In [4]:
print(stu)

     번호   이름  국어  영어  수학 지역명       생년월일
0     1  이현진  68  77  81  대전 2050-08-17
1     2  장민동  84  97  88  광주 2050-08-02
2     3  강준은  63  85  64  울산 2050-10-22
3     4  강혜희  99  95  79  서울 2050-05-27
4     5  김혜수  83  76  67  대전 2050-01-25
..  ...  ...  ..  ..  ..  ..        ...
95   96  이민운  99  63  65  서울 2050-08-18
96   97  장혜운  90  86  62  대전 2050-10-08
97   98  박철동  90  96  60  대전 2050-03-01
98   99  강준동  62  69  69  광주 2050-11-24
99  100  이현운  84  91  73  서울 2050-07-20

[100 rows x 7 columns]

In [10]:
# 아래 문제를 해결해주세요.


# 1. 국어가 80점 이상인 학생의 이름과 생년월일
filtered_stu = stu[stu['국어'] >= 80]
result = filtered_stu[['이름', '생년월일']]
print(result)

     이름       생년월일  국어
1   장민동 2050-08-02  84
3   강혜희 2050-05-27  99
4   김혜수 2050-01-25  83
7   정민은 2050-02-06  90
8   이지희 2050-06-23  94
10  이민은 2050-09-07  94
12  장민진 2050-08-12  94
13  강혜은 2050-03-26  84
15  이명동 2050-03-21  96
18  이명희 2050-04-18  89
19  윤민연 2050-11-24  82
21  정민진 2050-02-20  87
23  이혜운 2050-06-24  91
27  박준운 2050-10-02  96
29  박혜희 2050-07-02  87
37  윤지연 2050-10-10  90
39  장지연 2050-10-16  94
40  김명은 2050-05-09  87
41  정준수 2050-08-23  90
42  정철희 2050-03-13  99
43  윤민은 2050-01-11  98
46  정혜은 2050-06-18  94
51  이철진 2050-10-02  90
54  윤준동 2050-11-21  87
55  강혜수 2050-08-24  87
64  김혜진 2050-07-05  80
67  이혜운 2050-10-05  83
69  이명연 2050-05-17  96
72  장지희 2050-03-04  98
73  정철연 2050-04-22  82
74  이철진 2050-07-01  90
75  박철은 2050-10-25  94
76  장지수 2050-05-10  80
77  김명운 2050-09-22  91
79  김준수 2050-02-08  93
80  이지동 2050-02-07  98
81  정준동 2050-04-07  82
83  장혜은 2050-07-12  94
87  정혜희 2050-09-20  95
88  박명희 2050-07-02  83
90  정철동 2050-01-03  81
91  정철동 2050-05-24  85
93  이현진 2050-08-04  97
94  정현연 2050-05-19  98
95  이민운 2050-08-18  99
96  장혜운 2050-10-08  90
97  박철동 2050-03-01  90
99  이현운 2050-07-20  84

In [11]:
# 2. 수학이 80점 미만인 학생의 영어와 국어 점수

filtered_stu2 = stu[stu['수학'] < 80]
result2 = filtered_stu2[['영어', '국어']]
print(result2)

    영어  국어
2   85  63
3   95  99
4   76  83
7   78  90
8   63  94
12  70  94
16  90  76
18  78  89
19  89  82
20  88  62
21  60  87
23  88  91
24  62  61
25  76  73
27  86  96
28  94  64
29  63  87
30  90  63
32  73  61
38  84  79
39  89  94
42  78  99
43  67  98
45  62  60
47  83  70
48  77  77
51  92  90
52  70  77
55  88  87
57  78  74
61  73  63
62  77  66
64  62  80
66  71  70
68  98  63
69  82  96
70  83  65
72  61  98
73  89  82
74  76  90
75  79  94
77  97  91
79  95  93
85  94  64
86  92  64
87  69  95
89  63  69
91  71  85
92  89  66
93  96  97
95  63  99
96  86  90
97  96  90
98  69  62
99  91  84

In [14]:
# 3. 국어와 수학이 90점 이상인 학생의 이름, 수학, 국어 점수

filtered_stu3 = stu[(stu['국어'] >= 90) & (stu['수학'] >= 90)]
result3 = filtered_stu3[['이름', '수학', '국어']]
print(result3)

     이름  수학  국어
10  이민은  98  94
15  이명동  97  96
46  정혜은  93  94
80  이지동  97  98
83  장혜은  99  94

In [15]:
# 4. 모든 과목이 60점 미만인 학생의 번호, 이름, 생년월일

filtered_stu4 = stu[(stu['국어'] < 60) & (stu['수학'] < 60) & (stu['영어'] < 60)]
result4 = filtered_stu4[['번호', '이름', '생년월일']]
print(result4)

Empty DataFrame
Columns: [번호, 이름, 생년월일]
Index: []

In [17]:
# 5. 대전 지역 학생들의 이름, 국어, 영어, 수학 점수

daejeon_students = stu[stu['지역명'] == '대전']
result5 = daejeon_students[['이름', '국어', '영어', '수학']]
print(result5)

     이름  국어  영어  수학
0   이현진  68  77  81
4   김혜수  83  76  67
7   정민은  90  78  73
11  박준진  74  80  89
14  장명진  75  85  82
26  장혜동  79  65  83
29  박혜희  87  63  61
35  정현희  76  74  95
38  김준운  79  84  79
40  김명은  87  88  99
41  정준수  90  78  83
52  정철진  77  70  73
57  김명진  74  78  76
60  김철연  72  70  97
84  박준진  79  66  84
85  김준희  64  94  76
90  정철동  81  98  82
92  박혜진  66  89  63
96  장혜운  90  86  62
97  박철동  90  96  60

In [19]:
# 아래 문제를 해결해주세요.

# 1. 학생들의 총점, 평균 구하기
subjects = ['국어', '영어', '수학']
stu_scores = stu[subjects]

stu['총점'] = stu_scores.sum(axis=1)
stu['평균'] = stu_scores.mean(axis=1)

result = stu[['번호', '이름', '총점', '평균']]
print(result)

     번호   이름   총점         평균
0     1  이현진  226  75.333333
1     2  장민동  269  89.666667
2     3  강준은  212  70.666667
3     4  강혜희  273  91.000000
4     5  김혜수  226  75.333333
..  ...  ...  ...        ...
95   96  이민운  227  75.666667
96   97  장혜운  238  79.333333
97   98  박철동  246  82.000000
98   99  강준동  200  66.666667
99  100  이현운  248  82.666667

[100 rows x 4 columns]

In [20]:
# 2. 학생들의 평균이 높은 순으로 정렬. 만약 평균이 같다면 학번으로 오름차순

subjects2 = ['국어', '영어', '수학']
stu_scores2 = stu[subjects2]

stu['평균'] = stu_scores2.mean(axis=1)

sorted_stu = stu.sort_values(by=['평균', '번호'], ascending=[False, True])

result22 = sorted_stu[['번호', '이름', '평균']]
print(result22)

    번호   이름         평균
10  11  이민은  94.333333
67  68  이혜운  92.333333
81  82  정준동  92.000000
40  41  김명은  91.333333
56  57  정현연  91.333333
..  ..  ...        ...
32  33  김지동  68.666667
66  67  정현운  68.000000
98  99  강준동  66.666667
45  46  정명동  65.000000
24  25  장철운  62.333333

[100 rows x 3 columns]